.footer{
    padding: 3rem;
    display: flex;
    justify-content: center;

    &__link,
    &:visited,
    &:link,&{

        :not(:last-child){
            margin-right: 5rem;
        }

        color: var(--color-primary);
        font-size: 1.75rem;
        text-decoration: none;
        text-transform: uppercase;
        transition:  color .2s;

        &:hover{
            color:var(--color-primary-dark) ;
          }
    }
   

}

span{
    color: var(--color-primary);
    font-size: 3rem;
}