.header{
    position: relative;
    padding: 15rem 5rem;
    background-color: var(--color-primary);
    &__nav{
        position: absolute;
        top: 2rem;
        left: 0;
        margin-bottom: 4rem;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo{
            width: 10rem;
            margin-left: 10rem;
        }
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: space-around;  

        &__text{
            width: 30%;
        }

        &__photo{
            width: 70rem;
            height: 40rem;
        }
    }
    
    @include respond(tab-port) {
        &__item{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
    
            &__text{
                text-align: center;
                width: 100%;
                margin-bottom: 4rem;
            }
    
    
            &__photo{
                width: 70rem;
                height: 40rem;
            }
        }       
    }
}
