.heading-primary{
    color:#fff;
    font-size: 5rem;   
}

.heading-secondary{
    color: var(--color-primary-dark);
    font-size:4rem;
    font-weight: 600;
}

.heading-tertiary{
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
}

.paragraph{
    color: #eee;
    font-size: 1.75rem;
    font-weight: 300;
    // line-height: 2rem;
}